$fontcolor:green;
html,
body {
    height: 100%;
    margin: 0;
}

#root {
    color: $fontcolor;
    font-weight: bolder;
    div {
        border: 5px solid black;
        width: 100px;
        height: 100px;
    }
}